*.iml
.gradle
/local.properties
/.idea/sonarlint/*
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
.idea/dictionaries
.idea/vcs.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/colombia/release/app-colombia-release.apk
app/colombia/release/output-metadata.json
*.jks
